<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TEST</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>db.ContextFinalizer</listener-class>
  </listener>
  <context-param>
    <param-name>server</param-name>
    <param-value>localhost</param-value>
  </context-param>
  <context-param>
    <param-name>db</param-name>
    <param-value>local</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>pwd</param-name>
    <param-value>WXZwxz123</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>addCommand</display-name>
    <servlet-name>addCommand</servlet-name>
    <servlet-class>servlet.addCommand</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCommand</servlet-name>
    <url-pattern>/addCommand</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteCommand</display-name>
    <servlet-name>deleteCommand</servlet-name>
    <servlet-class>servlet.deleteCommand</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCommand</servlet-name>
    <url-pattern>/deleteCommand</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>entity.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
</web-app>